<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restoran - Bootstrap Restaurant Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- menu book -->
       
        <div class="book-section">
            <button id="back-to-home" onclick="goToHome()">Voltar ao Home</button>
             <div class="container">
                <div class="right">
                     <figure class="back" id="back-cover"></figure>
                     <figure class="front" style="background-image: url('./img/Cardapio-Design-EN_page6.jpg');"></figure>
                 </div>
                 <div class="right">
                     <figure class="back" style="background-image: url('./img/Cardapio-Design-EN_page5.jpg');"></figure>
                     <figure class="front" style="background-image: url('./img/Cardapio-Design-EN_page4.jpg');"></figure>
                 </div>
                 <div class="right">
                     <figure class="back" style="background-image: url('./img/Cardapio-Design-EN_page3.jpg');"></figure>
                     <figure class="front" style="background-image: url('./img/Cardapio-Design-EN_page2.jpg');"></figure>
                 </div>
                 <div class="right">
                     <figure class="back" style="background-image: url('./img/Cardapio-Design-EN_page1.jpg');"></figure>
                     <figure class="front" style="background-image: url('./img/Cardapio-Design-PT_Capa2.jpg');"></figure>

                 </div>
             </div>
             <br/>
         </div>
        <!-- menu book -->


    <!-- JavaScript Libraries -->



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
<script>
    var right = document.getElementsByClassName("right");
var si = right.length;
var z = 1;

document.addEventListener('click', function(event) {
    var x = event.clientX;
    var windowWidth = window.innerWidth;

    if (x < windowWidth / 2) {
        turnLeft();
    } else {
        turnRight();
    }
});

function turnRight() {
    if (si >= 1) {
        si--;
    } else {
        si = right.length - 1;
        function sttmot(i) {
            setTimeout(function () { right[i].style.zIndex = "auto"; }, 300);
        }
        for (var i = 0; i < right.length; i++) {
            right[i].className = "right";
            sttmot(i);
            z = 1;
        }
    }
    right[si].classList.add("flip");
    z++;
    right[si].style.zIndex = z;
}

function turnLeft() {
    if (si < right.length) {
        si++;
    } else {
        si = 1;
        for (var i = right.length - 1; i > 0; i--) {
            right[i].classList.add("flip");
            right[i].style.zIndex = right.length + 1 - i;
        }
    }
    right[si - 1].className = "right";
    setTimeout(function () { right[si - 1].style.zIndex = "auto"; }, 350);
}

function goToHome() {
    // Implemente a lógica para redirecionar para a página inicial aqui
    // Por exemplo:
    window.location.href = "index.html";
}
function loadMenu() {
        // Obter a URL atual
        var url = window.location.href;
        
        // Verificar se a URL contém o nome do arquivo para o menu em português
        if (url.includes('booking_pt.html')) {
            // Carregar o menu em português
            document.getElementById('menuContainer').innerHTML = '<object type="text/html" data="booking_pt.html"></object>';
        } else if (url.includes('booking_en.html')) {
            // Carregar o menu em inglês
            document.getElementById('menuContainer').innerHTML = '<object type="text/html" data="booking_en.html"></object>';
        } else {
            // Carregar um menu padrão ou mostrar uma mensagem de erro
            document.getElementById('menuContainer').innerHTML = 'Erro: Idioma não especificado na URL';
        }
    }

    // Chamar a função loadMenu() quando a página for carregada
    window.onload = loadMenu;
    </script>

</body>

</html>